.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container > .topicon > .row {
    width: 100%;
}

.container > .topicon > .row > .col-md-4, .container > .topicon > .row > .col-md-7, .container > .topicon > .row > .col-md-1 {
    width: 100%;
}

.container > .topicon > .row > .col-md-4 img{
    width: 100%;
}

.container > .topicon > .row > .col-md-7 {
    width: 100%;
    height: 100%;
}

.container > .topicon > .row > .col-md-1 img{
    width: 100%;
}

.container > .topicon > .row > .col-md-7 > .row {
    text-align: end;
    height: 100%;
}